.sidebarOption {
   display: flex;
   align-items: center;
   height: 4rem;
   padding: 0 1.5rem;
   border-top-right-radius: 2rem;
   border-bottom-right-radius: 2rem;
   cursor: pointer;
   color: #818181;
}

.sidebarOption:hover,
.sidebarOption:hover > p,
.sidebarOption:hover > h3 {
   background-color: #fcecec;
}

.sidebarOption--selected,
.sidebarOption--selected > p,
.sidebarOption--selected > h3 {
   background-color: #fcecec;
   color: #c04b37;
   font-weight: 700 !important;
}

.sidebarOption > h3 {
   flex: 1;
   margin-left: 1rem;
   font-size: 1.4rem;
   font-weight: 400;
}

.sidebarOption > p {
   display: none;
   font-weight: 300;
}

.sidebarOption:hover > p {
   display: inline;
}

.sidebarOption--selected > p{
   display: inline !important;
}