.emailList {
   flex: 1;
   overflow: auto;
}

/* Hide srollbar  for Chrome, Safari, and Opera */
.emailList::-webkit-scrollbar {
   display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.emailList{
   -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
}

.emailList__settings,
.emailList__sections {
   display: flex;
   z-index: 999;
   background-color: #fff;
   border-bottom: 1px solid whitesmoke;
}

.emailList__sticky {
   display: flex;
   flex-direction: column;
}

.emailList__sticky {
   position: -webkit-sticky; /* Safari */
   position: sticky;
   top: 0;
   display: flex;
   z-index: 999;
   background-color: #fff;
   border-bottom: 1px solid whitesmoke;
}

.emailList__settings {
   justify-content: space-between;
   padding-right: 1rem;
}

.emailList__settings .PrivateSwitchBase-root-1 {
   padding: 1.6rem !important;
}

.emailList__list {
   padding-bottom: 20%;
}